body{
    background-image: url(imagem/clima.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: rgb(116, 107, 190);
}

header{
    text-align: center;
}

.entrada{
    margin-top: 250px;

}

input{
    border-radius: 5px;
    width: 150px;
    height: 30px;
    cursor: pointer;
}

button{
    border-radius: 5px;
    width: 120px;
    height: 30px;
    cursor: pointer;

}

.container {
    display: none;
    position: fixed;
    display: grid;
    text-align: center;
    background-color:rgb(92, 91, 147);
    color: bisque;
    width: 150px;
    height: 180px;   
    margin-left: 500pt;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px
}

img{
    width: 1500px;
    height: 750px;
    opacity: 0.8;
}

@media only screen and (max-width: 600px) {
    
.container{
    display: grid;
    text-align: center;
    margin-left: 130px;
}
    
}

