body{
    background-image: url(imagem/clima.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: rgb(116, 107, 190);
}

header{
    text-align: center;
}

.entrada{
    margin-top: 250px;

}

input{
    border-radius: 5px;
    width: 150px;
    height: 30px;
    cursor: pointer;
}

button{
    border-radius: 5px;
    width: 120px;
    height: 30px;
    cursor: pointer;

}

.container {
    display: none;
    position: fixed;
    display: grid;
    text-align: center;
    background-color:rgb(46, 125, 168);
    color: bisque;
    width: 200px;
    height: 200px;   
    margin-left: 500pt;
    border-radius: 5px;
}

img{
    width: 1500px;
    height: 750px;
    opacity: 0.8;
}

